<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommentMapper">
	<select id="selectAll" resultType="comment">
		select * from t_comment
	</select>
	<select id="findByObjectId" parameterType="int" resultType="comment">
		select * from t_comment where objectId=#{objectId}
	</select>
	<select id="selectPage" resultType="comment" parameterType="Query">
		select * from t_comment where objectId= #{id} limit ${page},${limit}
	</select>
	<!-- <select id="selectComemntPage" resultMap="RM_comment" parameterType="commentQuery">
		SELECT C.* ,U.ID uid,U.PIC upic FROM T_COMMENT C,T_USER U WHERE C.OBJECTID=#{id} AND C.USERID=U.ID order by time desc  LIMIT 0,10
	</select> -->
	<!-- 查找微博的评论 -->
<!-- 	<select id="selectComemntPage" resultMap="RM_comment" parameterType="CommentQuery"> -->
<!-- 		SELECT C.* ,U.ID uid,U.PIC upic FROM T_COMMENT C,T_USER U WHERE C.OBJECTID=#{id} AND C.USERID=U.ID order by time desc  LIMIT 0,10 -->
<!-- 	</select> -->
	<!-- 查找被回复用户的信息-->
	
	
	<select id="countAll" resultType="int">
		select count(*) from t_comment
	</select>
	<select id="countWeiboComment" resultType="int" parameterType="int">
		select count(*) from t_comment where objectId=#{_parameter}
	</select>

	
	
	
	
	
	
</mapper>