<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
	<select id="selectAll" resultType="user">
		select * from t_user
	</select>
	<select id="findByAccount" parameterType="string" resultType="user">
		select * from t_user where account like #{_parameter} 
	</select>
	<select id="selectPage" resultType="user" parameterType="Query">
		select * from t_user limit ${page},${limit}
	</select>
	<select id="findUserFriend" parameterType="int" resultType="friend">
		select friendId from t_friend where userid=#{id} and focus=1
	</select>
	<select id="countAll" resultType="int">
		select count(*) from t_user 
	</select>
	<!-- 获取新注册用户 -->
	<select id="selectNewUserByDate" parameterType="query" resultType="user">
		select * from t_user where date_sub(curdate(), interval #{day} day) &lt;= createtime
	</select>
	<!-- 获取当前在线用户 -->
	<select id="selectUserOnline" parameterType="query" resultType="user">
		select * from t_user 
		<where>
			<foreach collection="list" item="id" separator="," open="id in (" close=")">
			#{id}</foreach>
		</where>
	
	</select>
	<select id="userLogin" parameterType="User" resultType="user">
		select * from t_user where account = #{account} and pwd=#{pwd} 
	</select>
	<delete id="deleteUserById" parameterType="int">
		delete from t_user where id = ${id}
	</delete>
	
	
	
	
</mapper>